/* Error: There is no module with the namespace "npnvariables".
 *     ,
 * 105 |             width: npnvariables.$button-width;
 *     |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass\pages\restaurant.scss 105:20  @use
 *   style.scss 8:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "npnvariables".\a     \2577 \a 105 \2502              width: npnvariables.$button-width;\d\a     \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass\\pages\\restaurant.scss 105:20  @use\a   style.scss 8:1                     root stylesheet';
}
